<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name ="FintexCS" connectionString="Data Source=SQL6006.site4now.net;Initial Catalog=DB_A46300_TestDB;User Id=DB_A46300_TestDB_admin;Password=qwerty99"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
</configuration>